/* General styles */
:root {
	--primary-color: #122d3f;
	--secondary-color: #f0ff64;
	--tertiary-color: #00e1ff;
	--text-color: #231f20;
	--background-color: #fff;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* headers */
.header {
	background-color: var(--primary-color);
	color: #fff;
	padding: 20px;
}

.header h1 {
	margin: 0;
	font-size: 24px;
}

/* Nav */
.navbar {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 100%);
}

.navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	min-width: 100%;
}

.navbar-brand .navbar-logo {
	height: 48px;
	margin-right: 10px;
}

.navbar-brand .navbar-title {
	font-size: 36px;
	color: var(--primary-color);
	font-weight: bold;
}

.navbar-brand .slogan {
	display: block;
	margin-top: 5px;
	color: var(--text-color);
}

.navbar-inputs {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.navbar-inputs input[type="text"],
.navbar-inputs select,
.navbar-inputs button {
	padding-inline: auto;
	padding-block: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 16px;
	margin-right: 5px;
}

.navbar-inputs input[type="text"] {
	flex-grow: 1;
}

.navbar-inputs input[type="text"]:focus,
.navbar-inputs select:focus,
.navbar-inputs button:focus {
	outline: none;
	border-color: var(--primary-color);
}

.navbar-inputs button {
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.navbar-inputs button:hover {
	background-color: var(--secondary-color);
}

/* Suggestions */
#suggestions {
	border: 1px solid #ccc;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	background: white;
	z-index: 1000;
	width: calc(100% - 22px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	top: 45px; /* Adjust this value based on your input field height */
	left: 0;
}

.suggestion {
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
}

.suggestion:hover {
	background-color: #f0f0f0;
}
/* Footer */
.footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.footer p {
	margin: 0;
}

.bg-primary {
	background-color: var(--primary-color);
	color: #fff;
}

.bg-secondary {
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.bg-white {
	background-color: var(--background-color);
	color: var(--text-color);
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 0;
}

.book {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 300px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.book img {
	max-width: 100%;
	aspect-ratio: 2/3;
	border-bottom: 1px solid #ddd;
}

.book .content {
	padding: 16px;
}

.book h3 {
	font-size: 1.5em;
	margin: 0 0 10px;
}

.book p {
	margin: 0 0 10px;
	color: #555;
}

.book .author {
	font-size: 1em;
	color: #888;
}

.book .rating {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
}

.book .rating-value {
	font-size: 1em;
	color: #555;
	margin-right: 5px;
}

.book .rating svg {
	width: 18px;
	height: 18px;
	fill: #f39c12;
}

.book .year {
	color: #888;
	margin-bottom: 10px;
}

.book .description {
	margin-bottom: 10px;
}

.book .view-link {
	color: #3498db;
	text-decoration: none;
	font-weight: bold;
	margin-top: auto;
	padding: 16px;
	text-align: center;
	border-top: 1px solid #ddd;
}

/* Animation styles */
@keyframes slideUp {
	from {
		transform: translate(-50%, 10%);
	}
	to {
		transform: translate(-50%, 10%);
	}
}

#search-form.submitted {
	animation: slideUp 0.5s forwards;
}
