{% load static %}
<nav>
	<div class="navbar">
		<div class="navbar-brand">
			<img src="{% static 'img/Logo.webp' %}" alt="Logo" class="navbar-logo" />
			<h1 class="navbar-title">Book Finder</h1>
		</div>
		<ul class="navbar-menu">
			<li class="navbar-item"><a href="#">Inicio</a></li>
			<li class="navbar-item"><a href="#">Buscar</a></li>
			<li class="navbar-item"><a href="#">Categorías</a></li>
			<li class="navbar-item"><a href="#">Mis Libros</a></li>
			<li class="navbar-item"><a href="#">Acerca de</a></li>
		</ul>
	</div>
</nav>
