{% extends 'base.html' %} {% block content %}{% load static %}

<h1>Find Your Book</h1>

<form id="search-form">
	<input type="text" id="search-input" placeholder="Search for books..." autocomplete="off" />
	<select id="search-type">
		<option value="q">All</option>
		<option value="title">Title</option>
		<option value="author">Author</option>
		<option value="subject">Subject</option>
	</select>
	<div id="suggestions"></div>
	<button type="submit">Search</button>
</form>
<ul id="results" class="results-container"></ul>

<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
